h1 {
	font-family: 'Alegreya' ;
	text-align: center;
}

h2 {
	/* font-family: 'Alegreya'; */
	color: red;
	text-align: center;
	font-weight: bold;
}

h3 {
	text-align: center;
}

h4 {
	color: red;
	font-weight: bold;
	text-align: center;
}

body {
	font-family: 'Source Sans Pro' ;
	text-align: justify;
	line-height: 1.7;
	font-size: 18px;
}

input {
	font-size: 18px;
	text-align: center;
}

button {
	font-size: 18px;
	color: #fff;
	margin: auto;
}

.container {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

footer {
	margin: auto;
	margin-top: 20px;
	text-align: center;
	background-color: yellow;
	padding: 10px;
}

.jumbotron {
	background-color: yellow;
}